:root {
	--color-admin: #ff0800;
	--color-mod: #6c5ce7;
	--color-member: black;
	--color-banned: black;
	--color-guest:  #0984e3;
	--color-dev: #27ae60;
	--badge-color: 255, 255, 255 !important;
	--editor-content-color: black;
}

:root[data-theme="dark"] {
	--color-admin: #ffffff;
	--color-mod: #ffffff;
	--color-member: #ffffff;
	--color-banned: #ffffff;
	--color-guest:  #ffffff;
	--color-dev: #ffffff;
	--badge-color: 0, 0, 0 !important;
}